body {
    font-family: Arial,  sans-serif; /* Font family */
    font-size: 11px; /* O tamanho da fonte principal<p></p> tag  */
    background-color: #f0f0f0; /* A cor do plano de fundo da página */
    color: #333333; /* A cor do texto */ 
}
h1 {
    color: #3b3643; /* A cor do cabeçalho */
    font-size: 34px; /* A cor da fonte do cabeçalho */
    font-family: Courier, Georgia, serif; /* A font usada no cabeçalho*/
}

h2 {
    color: #41564a; /* A cor do segundo nível de cabeçalho */
    font-size: 28px; /* O tamanho da fonte do segundo nível de cabeçalho */
    font-family: 'Courier New', Courier, monospace; /* A font usada no segundo nível de cabeçalho */
}

img {
    width: 400px; /* A largura da imagem */
    height: auto; /* A altura da imagem é ajustada automaticamente para manter a proporção */
    border: 5px solid #383d3b; /* Adiciona uma borda à imagem */
    border-radius: 10px; /* Adiciona cantos arredondados à imagem */
}

p {
    color: #2314c9; /* A cor do texto dos parágrafos */
    line-height: 1.6; /* O espaçamento entre as linhas dos parágrafos */
    font-family: Lucida, Helvetica, sans-serif; /* A font usada nos parágrafos */
}